<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <!-- Local/App Specific CSS -->
    {% load static %}
    <link rel="stylesheet" href={% static 'base/css/bootstrap_darkly.css' %}>
    <link rel="stylesheet" href={% static 'base/css/main.css' %}>

    <!-- jQuery, jQuery UI, Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous" type="text/javascript"></script>
    <!-- Particles.js Header -->
    <script src="{% static 'base/js/particles-js/particles.js' %}" type="text/javascript"></script>
    <!-- PDF.js - created by Mozilla and licensed under Apache -->
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <!-- Scroll Position Styler JavaScript for Nav Scrolling -->
    <script src="{% static 'base/js/scrollPosStyler.min.js' %}" type="text/javascript"></script>
    <!-- Local/App Specific JavaScript -->
    <script src="{% static 'base/js/script.js' %}" type="text/javascript"></script>

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <!-- Google Recaptcha API -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'base/img/favicon.ico' %}">
    <title>Joshua Daniel's Portfolio</title>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="100">
    <div class="container-fluid px-0 mx-0">
        <div id="particles-js"></div>
        <!-- Navbar - Top of Page -->
        {% include 'main/navbar.html' %}
        <div id="particles-overlay">
            <a id="particles_link" href="#projects" alt="Go to my projects">
                <h1 class="display-2 text-center">Hi, I'm Josh</h1>
                <h2 class="display-3 text-center">See my work</h2>
            </a>
        </div>
        <div class="parallax parallax-top px-0 mx-0">
            <!-- Header Content and Style -->
            {% include 'main/header.html' %}
        </div>

        
        <!-- About Me Section -->
        {% include 'main/about.html' %}
        
        <!-- Project Portfolio Section -->
        <div class="container-fluid px-0 mx-0" id="projects">
        {% include 'main/projects.html' %}
        </div>
        
        <!-- Skills Section -->
        {% include 'main/skills.html' %}
        
        <!-- Resume Section -->
        {% include 'main/resume.html' %}
        
        <!-- Contact Details and Links -->
        {% include 'main/contact.html' %}

        <div class="parallax parallax-bottom px-0 mx-0">
            <!-- Footer Content and Style -->
            {% include 'main/footer.html' %}
        </div>
        
        <!-- Modal Container -->
        <div id="modal-container"></div>
    </div>
</body>

</html>