{% extends 'main/root.html' %}
{% block title %}Joshua Daniel's Portfolio{% endblock %}
{% block body %}
<body data-spy="scroll" data-target="#navbar" data-offset="100">
    <div class="container-fluid px-0 mx-0">
        <div id="particles-js"></div>
        <!-- Navbar - Top of Page -->
        {% include 'main/navbar.html' %}
        <div id="particles-overlay">
            <a id="particles_link" href="#projects" alt="Go to my projects">
                <h1 class="display-2 text-center">Hi, I'm Josh</h1>
                <h2 class="display-3 text-center">See my work</h2>
            </a>
        </div>
        <div class="parallax parallax-top px-0 mx-0">
            <!-- Header Content and Style -->
            {% include 'main/header.html' %}
        </div>

        
        <!-- About Me Section -->
        {% include 'main/about.html' %}
        
        <!-- Project Portfolio Section -->
        <div class="container-fluid px-0 mx-0" id="projects">
        {% include 'main/projects.html' %}
        </div>
        
        <!-- Skills Section -->
        {% include 'main/skills.html' %}
        
        <!-- Resume Section -->
        {% include 'main/resume.html' %}
        
        <!-- Contact Details and Links -->
        {% include 'main/contact.html' %}

        <div class="parallax parallax-bottom px-0 mx-0">
            <!-- Footer Content and Style -->
            {% include 'main/footer.html' %}
        </div>
        
        <!-- Modal Container -->
        <div id="modal-container"></div>
    </div>
</body>
{% endblock %}
