<div class="modal fade" tabindex="-1" role="dialog" id="email_sent">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-white text-dark rounded-0">
            <div class="modal-header bg-primary rounded-0">
                <h5 class="modal-title font-weight-bold text-white">Your Message Sent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <div class="col-sm-12 mb-4">
                    <p>Thank you for your message! A copy of this message was also sent to your address for your records.</p>
                </div>
                <div class="col-sm-12 my-4">
                    <h6 class="col-sm-12 p-0"><u><strong>Message Sent:</strong></u></h6>
                    <ul class="list-group col-sm-12 px-0">
                        <li class="list-group-item bg-white border-gray rounded-0 col-sm-12">
                            <span class="row">From: {{email.sender_name}} (<a class="text-dark" href="{{email.sender_email}}">{{email.sender_email}}</a>)</span>
                            <span class="row">To: Joshua Daniel (<a class="text-dark" href="jdaniel.jobs@gmail.com">jdaniel.jobs@gmail.com</a>)</span>
                            <span class="row">Subject: {{email.subject}}</span>
                        </li>
                        <li class="list-group-item bg-white border-gray rounded-0 col-sm-12">
                            {{email.message_text}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>