<div class="container-fluid px-0 mx-0" id="footer">
    <div class="row col-md-12 mx-0 px-0">
        <div id="citations" class="row col-md-9 col-sm-11 mx-0 p-2">
            <div class="row col-md-12">
                <small class="col-md-12 text-center">
                    All open-source imports were adapted, imported, and in some cases revised, by me. But I would like to give credit where credit is due:
                </small>
            </div>
            <div class="row col-md-12 justify-content-center">
                <small class="col-md-12 text-center">
                    Particles animation is an awesome feature developed and released by Vincent Garreau from 
                    <a href="https://vincentgarreau.com/particles.js/">https://vincentgarreau.com/particles.js/</a>
                </small>
            </div>
            <div class="row col-md-12 justify-content-center">
                <small class="col-md-12 text-center">
                    Text animation overlaying the particles is my own development
                </small>
            </div>
            <div class="row col-md-12 justify-content-center">
                <small class="col-md-12 text-center">
                    Hiker icon (developed by Luis Prado) and Social Care icon (developed by Diego Naive) from the <a href="https://thenounproject.com">Noun Project</a>
                </small>
            </div>
            <div class="row col-md-12 justify-content-center">
                <small class="col-md-12 text-center">
                    All other icons were developed and released by
                    <a href="http://fontawesome.io">Font Awesome</a> by Dave Gandy
                </small>
            </div>
            <div class="row col-md-12 justify-content-center">
                <small class="col-md-12 text-center">
                    Dark background image courtesy from <a href="http://globalmedicalco.com/WDF-361312.html">Globalmedicalco.com</a>
                </small>
            </div>
            <div class="row col-md-12 justify-content-center">
                <small class="col-md-12 text-center">
                    PDF Viewer courtesy from
                    <a href="http://mozilla.github.io/pdf.js/">Mozilla PDF.js</a>, licensed under Apache
                </small>
            </div>
            <div class="row col-md-12 justify-content-center">
                <small class="col-md-12 text-center">
                    reCaptcha developed and powered by 
                    <a href="https://developers.google.com/recaptcha/">Google Developer API Services</a>, licensed under the Creative Commons Attribution 3.0 License
                </small>
            </div>
            <div class="row col-md-12 justify-content-center">
                <small class="col-md-12 text-center">
                    Site design theme was largely inspired by Michael Stuart Mitchell, 
                    <a href="http://michaelstuartmitchell.com/">http://michaelstuartmitchell.com/</a>
                </small>
            </div>
        </div>
    </div>
</div>