<div class="container" id="header">
    {% load static %}
    <img class="portfolio_img" src="{% static '/base/img/joshuadaniel.jpg' %}" alt="Joshua Daniel - Portfolio Image">
    <div class="row" id="width-medium">
        <div class="row justify-content-center">
            <p>Full-Stack Software Engineer</p>
            <span class="mx-3" aria-hidden="true">
                <small>
                    <i class="material-icons">all_inclusive</i>
                </small>
            </span>
            <p>Innovative Problem Solver</p>
            <span class="mx-3" aria-hidden="true">
                <small>
                    <i class="material-icons">all_inclusive</i>
                </small>
            </span>
            <p>Focused on Results</p>
        </div>
    </div>
    <div class="row justify-content-center" id="width-small">
        <div class="col-sm-12 text-center">
            <p>Full-Stack Developer</p>
        </div>
        <div class="col-sm-12">
            <span class="mx-auto" aria-hidden="true">
                <small>
                    <i class="material-icons">all_inclusive</i>
                </small>
            </span>
        </div>
        <div class="col-sm-12 text-center">
            <p>Social Justice Advocate</p>
        </div>
        <div class="col-sm-12">
            <span class="mx-auto" aria-hidden="true">
                <small>
                    <i class="material-icons">all_inclusive</i>
                </small>
            </span>
        </div>
        <div class="col-sm-12 text-center">
            <p>Data Junkie</p>
        </div>
    </div>
</div>
