<div class="sticky-top mx-0 px-0 col-md-12">
    <nav class="navbar navbar-expand-md sps sps--abv" 
        id="navbar"
        data-sps-offset="75">
        <a class="navbar-brand" href="#top">Joshua O. Daniel</a>
        <button class="navbar-toggler" type="button" 
            data-toggle="collapse" 
            data-target="#navCollapse" 
            aria-controls="navCollapse"
            aria-expanded="false" 
            aria-label="Toggle Navigation" 
            style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show text-right justify-content-end" id="navCollapse" style="">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>