<div id="modal" class="modal fade" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header justify-content-center">
                <!-- Image Carousel -->
                {% include 'main/project_mcarousel.html' %}
            </div>
            <div class="modal-footer">
                <!-- Project Skills -->
                {% include 'main/project_mfooter.html' %}
            </div>
            <div class="modal-body">
                <!-- Project Main Content -->
                {% include 'main/project_mcontent.html' %}
            </div>
            <div class="col-sm-12 text-right">
                <button type="button" class="close mx-1 text-primary" data-dismiss="modal" aria-label="Close">
                    <span class="mx-2">Close</span>
                    <i class="fa fa-window-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>