<div id="modal" class="modal fade" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header justify-content-center">
                <!-- Image Carousel -->
                {% include 'main/project_mcarousel.html' %}
            </div>
            <div class="modal-body">
                <!-- Project Main Content -->
                {% include 'main/project_mcontent.html' %}
            </div>
            <div class="modal-footer">
                <!-- Project Skills -->
                {% include 'main/project_mfooter.html' %}
            </div>
        </div>
    </div>
</div>