<div class="container-fluid project-content p-3">
    <h4 class="navbar-brand">{{ project.project_name }}</h4>
    {% if project.subtitle %}
    <p class="text-muted">{{ project.subtitle }}</p>
    {% endif %}
    <hr>
    <div class="row mx-0">
        <p>{{ project.description }}</p>
    </div>
    {% if project.impact %}
    <div class="row mx-0">
        <p><small>{{ project.impact }}</small></p>
    </div>
    {% endif %}
    <div class="row justify-content-end">
        {% if project.code_url %}
        <a href="{{ project.code_url }}">
            <button class="project-button project-code btn btn-danger">
                <small>
                    <i class="fa fa-external-link mx-1" aria-hidden="true"></i>
                </small>
                View Code
            </button>
        </a>
        {% endif %}
        {% if project.deploy_url %}
        <a href="{{ project.deploy_url }}">
            <button class="project-button project-deploy btn btn-danger">
                <small>
                    <i class="fa fa-external-link mx-1" aria-hidden="true"></i>
                </small>
                View Site
            </button>
        </a>
        {% endif %}
    </div>

</div>