<div class="container-fluid px-0 mx-0" id="resume">
    <h2 class="section_heading">Resume</h2>
    <hr class="section_hr mb-5">
    <a type="button" 
        class="btn btn-secondary mx-5 click-set" 
        href="{{ MEDIA_URL }}{{ resume.res_file }}"
        addr="{% url 'home:click_resume' address='view' %}"
        target="_blank">
        View Resume
    </a>
    <a type="button" 
        id="resume-download"
        class="btn btn-secondary mx-5 click-set" 
        href="{{ MEDIA_URL }}{{ resume.res_file }}" 
        addr="{% url 'home:click_resume' address='download' %}"
        download>
        Download
    </a>
</div>
