<div class="card bg-white">
    <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
            <a class="collapse_link collapsed click-set" 
                data-toggle="collapse" 
                href="#collapseThree" 
                role="button" 
                addr="{% url 'home:click_skill' address='frontend' %}"
                aria-expanded="false" 
                aria-controls="collapseThree">
                Front End Frameworks
            </a>
        </h5>
    </div>
    <div id="collapseThree" 
        class="collapse" 
        role="tabpanel" 
        aria-labelledby="headingThree" 
        data-parent="#accordionOne">
        <div class="card-body">
            {% for skill in skills_frontend %}
            <img 
                class="logo" 
                src="{%if skill.skillimage%}{{ MEDIA_URL }}{{ skill.skillimage.img }}{%endif%}" 
                alt="{{skill.skill_name}}" 
                data-toggle="tooltip" 
                data-placement="top"
                title="{{skill.skill_name}}">
            {% endfor %}
        </div>
    </div>
</div>