<div class="card bg-white">
    <div class="card-header" role="tab" id="headingKappa">
        <h5 class="mb-0">
            <a class="collapse_link collapsed" 
                data-toggle="collapse" 
                href="#collapseKappa" 
                role="button" 
                aria-expanded="false" 
                aria-controls="collapseKappa">
                Technologies and Tools
            </a>
        </h5>
    </div>
    <div id="collapseKappa" 
        class="collapse" 
        role="tabpanel" 
        aria-labelledby="headingKappa" 
        data-parent="#accordionTwo">
        <div class="card-body">
            {% load static %}
            {% for skill in skills_tech %}
            <img 
                class="logo" 
                src="{% static skill.logo_url %}" 
                alt="{{skill.skill_name}}" 
                data-toggle="tooltip" 
                data-placement="top"
                title="{{skill.skill_name}}">
            {% endfor %}
        </div>
    </div>
</div>