<div class="card bg-white">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a class="collapse_link click-set" 
                data-toggle="collapse" 
                href="#collapseOne" 
                role="button" 
                addr="{% url 'home:click_skill' address='languages' %}"
                aria-expanded="true" 
                aria-controls="collapseOne">
                Languages
            </a>
        </h5>
    </div>
    <div id="collapseOne" 
        class="collapse show" 
        role="tabpanel" 
        aria-labelledby="headingOne" 
        data-parent="#accordionOne">
        <div class="card-body">
            {% for skill in skills_language %}
            <img 
                class="logo" 
                src="{%if skill.skillimage%}{{ MEDIA_URL }}{{ skill.skillimage.img }}{%endif%}" 
                alt="{{skill.skill_name}}" 
                data-toggle="tooltip" 
                data-placement="top"
                title="{{skill.skill_name}}">
            {% endfor %}
        </div>
    </div>
</div>