<div class="card bg-white">
    <div class="card-header" role="tab" id="headingAlpha">
        <h5 class="mb-0">
            <a class="collapse_link click-set" 
                data-toggle="collapse" 
                href="#collapseAlpha" 
                role="button" 
                addr="{% url 'home:click_skill' address='database' %}"
                aria-expanded="true" 
                aria-controls="collapseAlpha">
                Databases and Database Languages
            </a>
        </h5>
    </div>
    <div id="collapseAlpha" 
        class="collapse show" 
        role="tabpanel" 
        aria-labelledby="headingAlpha" 
        data-parent="#accordionTwo">
        <div class="card-body">
            {% load static %}
            {% for skill in skills_db %}
            <img 
                class="logo" 
                src="{% static skill.logo_url %}" 
                alt="{{skill.skill_name}}" 
                data-toggle="tooltip" 
                data-placement="top"
                title="{{skill.skill_name}}">
            {% endfor %}
        </div>
    </div>
</div>