{% extends "main/root.html" %}

{% block body %}
<div id="login-view" class="container">
    <div class="row center-vertical">
        <div class="col-md-3 col-sm-12 align-self-md-stretch align-self-sm-start bg-warning">
            <div class="center-vertical">
                <div class="row w-100 p-1">
                    <div class="col-md-12 mx-0 px-0">
                        <a class="navbar-brand mx-0" href="{% url 'home:home' %}">
                            <h4 class="mb-0">Joshua O. Daniel</h4>
                        </a>
                    </div>
                    <div class="col-md-12 mx-0 px-0 navbar-brand">
                        <small>You are on an Administrative Page</small>
                    </div>
                </div>
            </div>
        </div>
        <div id="login-view-card" class="col-md-6 col-sm-10 mx-auto my-5">
            <div class="card">
                <div class="card-header mx-0 navbar-brand bg-warning">
                    <h4>Site Administration</h4>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                        <p class="text-danger font-weight-bold">Your username and password combination didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                        <p>Your account doesn't have access to the requested page or method. To proceed,
                        please login with an account that has access.</p>
                        {% else %}
                        <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <table class="col-md-12">
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <div class="form-group my-3 text-right">
                            <input class="btn btn-warning font-weight-bold text-white py-1 px-4" type="submit" value="Login" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </form>
                </div>
                <div class="footer bg-secondary p-4">
                    <a class="login-view-footer" 
                        data-toggle="collapse" 
                        href="#loginSeeMore" 
                        role="button" 
                        aria-expanded="false" 
                        aria-controls="loginSeeMore">
                        <h5><u>Would you like to preview the administrative site?</u></h5>
                    </a>
                    <div id="loginSeeMore" class="collapse my-4">
                        <div class="row mx-0">
                            <p>There is a lot more functionality that manages this site content.</p>
                        </div>
                        <div class="row mx-0">
                            <p>Submit your name and email address in the form below, and I will send you a view-only guest login.</p>
                            <p>Don't worry. You won't be able to make any changes to my site. Feel free to look around and click anything.</p>
                        </div>
                        <form id="guest-user-form" method="POST">
                            {% csrf_token %}
                            <table class="col-md-12">
                                <tr>
                                    <td>First Name</td>
                                    <td>
                                        <input type="text" 
                                            class="form-control form-control-sm" 
                                            placeholder="Please enter your first name"
                                            name="first_name">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td>
                                        <input type="text" 
                                            class="form-control form-control-sm" 
                                            placeholder="Please enter your last name"
                                            name="last_name">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>
                                        <input type="email" 
                                            class="form-control form-control-sm" 
                                            placeholder="Please enter your email address"
                                            name="email">
                                    </td>
                                </tr>
                            </table>
                            <div class="form-group my-3 text-right">
                                <button id="guest_user_submit" addr="{% url 'home:get_guest_login' %}" class="btn btn-warning font-weight-bold text-white py-1 px-4">Get Guest Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}