<nav class="navbar navbar-expand-md navbar-light bg-warning sticky-top" id="navbar_admin">
    <a class="navbar-brand" href="/">
        <h4 class="mb-0">Joshua O. Daniel</h4>
        <small>You are on the Administrative Page</small>
    </a>
    <button class="navbar-toggler" type="button" 
        data-toggle="collapse" 
        data-target="#navAdminCollapse" 
        aria-controls="navAdminCollapse"
        aria-expanded="false" 
        aria-label="Toggle Navigation" 
        style="">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="navbar-collapse collapse show text-right justify-content-end" id="navAdminCollapse">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin Module</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'db_admin:skills' %}">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'db_admin:projects' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'db_admin:messages' %}">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'db_admin:traffic' %}">Traffic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home' %}">Return Home</a>
            </li>
        </ul>
    </div>
    {% endif %}
</nav>
{% if user.is_authenticated %}
<div class="row px-5 mx-0 text-right justify-content-end">
    <small>
        Welcome, {{user.first_name}}
        <span class="mx-3">|</span>
        <em>(@{{user.username}})</em>
        <span class="mx-1"></span>
        <a href="{% url 'logout' %}" class="badge badge-pill badge-warning">Logout</a>
    </small>
</div>
{% endif %}