{% extends 'db_admin/admin_base.html' %}
{% block content %}

<div class="row p-0 m-3">
    <h2 class="col-md-12 my-2">Temporary Headers</h2>
    {% for head, val in headers.items %}
    <div class="col-md-12 my-1">
        <span class="font-weight-bold">{{head}}</span> --- {{val}}
    </div>
    {% endfor %}
    <h2 class="col-md-12 my-2">Host</h2>
    {{host}}
</div>

<div class="row p-0 m-0">
    <div class="row col-sm-12 px-0 mx-0">
        <!-- New Skill Form -->
        {% include 'db_skills/create.html' %}
    </div>
    <div class="row col-sm-12 px-0 mx-0 my-4">
        <!-- Totals per Skill -->
        {% include 'db_skills/totals.html' %}
    </div>
    <div class="row col-sm-12 px-0 mx-0">
        <!-- List of Skills -->
        {% include 'db_skills/list.html' %}
    </div>
</div>

{% endblock %}