<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Skill
                <a href="{% url 'db_admin:skills_sort' sort_f='-skill' %}" alt="Sort Descending">
                    <i class="fa fa-caret-down icon-sorting" aria-hidden="true"></i>
                </a>
                <a href="{% url 'db_admin:skills_sort' sort_f='skill' %}" alt="Sort Ascending">
                    <i class="fa fa-caret-up icon-sorting" aria-hidden="true"></i>
                </a>
            </th>
            <th scope="col">
                Category
                <a href="{% url 'db_admin:skills_sort' sort_f='-category' %}" alt="Sort Descending">
                    <i class="fa fa-caret-down icon-sorting" aria-hidden="true"></i>
                </a>
                <a href="{% url 'db_admin:skills_sort' sort_f='category' %}" alt="Sort Ascending">
                    <i class="fa fa-caret-up icon-sorting" aria-hidden="true"></i>
                </a>
            </th>
            <th class="text-center" scope="col">Logo</th>
            <th class="text-center" scope="col">
                Skill Level
                <a href="{% url 'db_admin:skills_sort' sort_f='-level' %}" alt="Sort Descending">
                    <i class="fa fa-caret-down icon-sorting" aria-hidden="true"></i>
                </a>
                <a href="{% url 'db_admin:skills_sort' sort_f='level' %}" alt="Sort Ascending">
                    <i class="fa fa-caret-up icon-sorting" aria-hidden="true"></i>
                </a>
            </th>
            <th scope="col">
                Date Added
                <a href="{% url 'db_admin:skills_sort' sort_f='-date' %}" alt="Sort Descending">
                    <i class="fa fa-caret-down icon-sorting" aria-hidden="true"></i>
                </a>
                <a href="{% url 'db_admin:skills_sort' sort_f='date' %}" alt="Sort Ascending">
                    <i class="fa fa-caret-up icon-sorting" aria-hidden="true"></i>
                </a>
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    {% load static %}
    {% for skill in skills %}
    <tr id="skill_{{skill.id}}">
        <td>{{skill.skill_name}}</td>
        <td>{{skill.get_skill_type_display}}</td>
        <td class="text-center">
            <img id="skill-logo-{{skill.id}}" 
                class="logo-sm" 
                src="{%if skill.skillimage%}{{ MEDIA_URL }}{{ skill.skillimage.img }}{%endif%}">
        </td>
        <td class="text-center">{{skill.skill_level}}</td>
        <td>{{skill.created_at}}</td>
        <td>
            <a 
                href="{% url 'db_admin:skill_logo' id=skill.id %}" 
                skillId={{skill.id}}
                class="badge badge-pill badge-warning btn skill-logo-edit">
                Logo
            </a>
            <!-- <a 
                href="{% url 'db_admin:skill_edit' id=skill.id %}" 
                skillId={{skill.id}}
                class="badge badge-pill badge-warning btn skill-edit">
                Edit
            </a> -->
            <a
                id="skill-remove-{{skill.id}}"
                href="{% url 'db_admin:skill_destroy' id=skill.id %}"
                skillId={{skill.id}}
                class="badge badge-pill badge-danger btn destroy_action skill-destroy"
                x-type="skill"
                x-name="{{skill.skill_name}}">
                Remove
            </a>
        </td>
    </tr>
    {% endfor %}
</table>