<table class="table table-striped table-secondary">
    <thead>
        <tr><h5>Skill Totals</h5></tr>
        <tr>
            <th scope="col" class="text-center text-dark">All Skills</th>
            <th scope="col" class="text-center text-dark">Languages</th>
            <th scope="col" class="text-center text-dark">Back End Frameworks</th>
            <th scope="col" class="text-center text-dark">Front End Frameworks</th>
            <th scope="col" class="text-center text-dark">Database Technologies</th>
            <th scope="col" class="text-center text-dark">Methodologies</th>
            <th scope="col" class="text-center text-dark">Technologies & Tools</th>
        </tr>
    </thead>
    <tr>
        <th scope="row" class="text-center">{{ skills_totals.total }}</th>
        <td class="text-center">{{ skills_totals.LN }}</td>
        <td class="text-center">{{ skills_totals.BE }}</td>
        <td class="text-center">{{ skills_totals.FE }}</td>
        <td class="text-center">{{ skills_totals.DB }}</td>
        <td class="text-center">{{ skills_totals.MT }}</td>
        <td class="text-center">{{ skills_totals.TE }}</td>
    </tr>
</table>
