# Sensitive Keys and Settings
/portfolio/settings_sensitive.py
/portfolio/settings_developer.py

.git/
.idea/
*.pyc
.env
venv
db.sqlite3
staticfiles
media/

/apps/main/templates/email/
/static/old-files/
/static/base/js/scrollpos-styler/
/static/base/js/pdf-js/
