# Sensitive Keys and Settings
/portfolio/settings_sensitive.py
/portfolio/settings_developer.py

.git/
*.pyc
.env
venv
staticfiles
media/

/apps/main/templates/email/
/apps/main/static/base/img/
/apps/main/static/base/js/particles-js/
/apps/main/static/base/js/scrollpos-styler/