# Sensitive Keys and Settings
/portfolio/settings_sensitive.py
/portfolio/settings_developer.py

.git/
*.pyc
.env
venv
db.sqlite3
staticfiles
media/

/apps/main/templates/email/
/apps/static/old-files/
/apps/static/base/img/logos/
/apps/static/base/img/tileable-fabric-textures-1
/apps/static/base/js/scrollpos-styler/
/apps/static/base/js/pdf-js/
