<div class="row justify-content-center mb-3">
    {% load static %}
    {% for img in images %}
    <div class="
            pedit-image-container 
            col-md-4 
            col-sm-11
            {% if project.featimage_url == img.img_url %}img-featured{% endif %}">
        <div class="text-center col-sm-12 mx-0 px-0">
            <img class="pedit-image-img" src="{{ MEDIA_URL }}{{ img.img_url }}" alt="Project Image">
        </div>
        <div class="row mx-0 px-0">
            {% if project.featimage_url == img.img_url %}
            <div class="img-featured-text">
                <span>Cover</span>
            </div>
            {% endif %}
            <div class="img-order">
                <sm><strong>{{ img.order }}</strong></sm>
            </div>
            <div class="row col-sm-12 mx-0 px-0 justify-content-end">
                {% if project.featimage_url != img.img_url %}
                <form id="set-img-feature-form-{{ img.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="project" value="{{ project.id }}">
                    <a 
                        class="set-img-feature" 
                        href="{% url 'db_admin:pimage_mark_feature' id=project.id image_id=img.id %}"
                        img="{{ img.id }}"
                        img-src="{{ img.img_url }}">
                        <small>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                        </small>
                    </a>
                </form>
                {% endif %}
                <a 
                    class="edit-img-link mx-1" 
                    href="{% url 'db_admin:pimage_get_edit' id=project.id image_id=img.id %}">
                    <small>
                        <i class="fa fa-pencil text-dark" aria-hidden="true"></i>
                    </small>
                </a>
                <a 
                    class="edit-img-remove" 
                    proj="{{img.project.id}}" 
                    img="{{img.id}}" 
                    href="{% url 'db_admin:pimage_destroy' id=project.id image_id=img.id %}">
                    <small>
                        <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                    </small>
                </a>
            </div>
            <div class="text-dark col-sm-12 px-0">
                <small>
                    <em><strong>{{ img.caption }}</strong></em>
                </small>
            </div>
            <div class="text-dark col-sm-12 px-0">
                <small>
                    File:
                    <em>{{ img.img_url.name }}</em>
                </small>
            </div>
            <div class="text-dark col-sm-12 px-0">
                <small>
                    URL:
                    <em>
                        <a href="{{ img.img_url.url }}">
                            {{ img.img_url.url }}
                        </a>
                    </em>
                </small>
            </div>
            <div class="text-dark col-sm-12 px-0">
                <small>
                    Size:
                    <em>{{ img.img_url.size|filesizeformat }}</em>
                </small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>