{% extends 'db_admin/admin_base.html' %}
{% block content %}

<div class="row p-0 m-0">
    <div class="row col-sm-12 px-0 mx-0 mt-2 mb-3">
        <!-- New Project Form -->
        {% include 'db_projects/create.html' %}
    </div>
    <div class="row col-sm-12 px-0 mx-0 my-3">
        <!-- List of Projects -->
        {% include 'db_projects/list.html' %}
    </div>
    <div class="row col-sm-12 px-0 mx-0 my-3">
        <!-- Edit Project Modal -->
        {% include 'db_projects/edit_project.html' %}
    </div>
    <div id="projectModal"></div>
</div>

{% endblock %}