<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Sender
                <a href="{% url 'db_admin:messages_sort' sort_f='-sender' %}" alt="Sort Descending">
                    <i class="fa fa-caret-down icon-sorting" aria-hidden="true"></i>
                </a>
                <a href="{% url 'db_admin:messages_sort' sort_f='sender' %}" alt="Sort Ascending">
                    <i class="fa fa-caret-up icon-sorting" aria-hidden="true"></i>
                </a>
            </th>
            <th scope="col">
                Sender Email
                <a href="{% url 'db_admin:messages_sort' sort_f='-from_email' %}" alt="Sort Descending">
                    <i class="fa fa-caret-down icon-sorting" aria-hidden="true"></i>
                </a>
                <a href="{% url 'db_admin:messages_sort' sort_f='from_email' %}" alt="Sort Ascending">
                    <i class="fa fa-caret-up icon-sorting" aria-hidden="true"></i>
                </a>
            </th>
            <th scope="col">
                Subject
                <a href="{% url 'db_admin:messages_sort' sort_f='-subject' %}" alt="Sort Descending">
                    <i class="fa fa-caret-down icon-sorting" aria-hidden="true"></i>
                </a>
                <a href="{% url 'db_admin:messages_sort' sort_f='subject' %}" alt="Sort Ascending">
                    <i class="fa fa-caret-up icon-sorting" aria-hidden="true"></i>
                </a>
            </th>
            <th scope="col">Message</th>
            <th scope="col">
                Date Sent
                <a href="{% url 'db_admin:messages_sort' sort_f='-date' %}" alt="Sort Descending">
                    <i class="fa fa-caret-down icon-sorting" aria-hidden="true"></i>
                </a>
                <a href="{% url 'db_admin:messages_sort' sort_f='date' %}" alt="Sort Ascending">
                    <i class="fa fa-caret-up icon-sorting" aria-hidden="true"></i>
                </a>
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

</table>