    <form class="col-sm-12" 
        id="resume-upload-form"
        action="{% url 'db_admin:resume_upload' %}" 
        enctype="multipart/form-data"
        method="POST">
        {% csrf_token %}
        <h5 class="text-right">Upload a New Resume File</h5>
        
        {% if form_errors == True %}
        <div class="row col-sm-12 mx-0 px-0 justify-content-end">
            <h6 class="font-weight-bold text-danger">There were errors in the attempt to upload this file. Please try again.</h6>
        </div>
        {% endif %}
        <div class="row col-sm-12 mx-0 px-0">
            <div class="form-group row col-sm-12 mx-0 px-0 justify-content-end px-0">
                <label for="upload" class="col-sm-2 col-form-label text-right">File</label>
                <input type="file" id="resume-upload-file" name="upload" class="form-control col-md-3 col-sm-6">
                <!-- Field Specific Errors -->
                {% for field in form %} {% if field.errors and field == "res_file" %} {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %} {% endif %} {% endfor %}
                <button type="reset" id="resume-upload-cancel" class="btn btn-secondary font-weight-bold mx-3">Cancel</button>
                <button type="submit" id="resume-upload-submit" class="btn btn-primary font-weight-bold">Upload</button>
            </div>
        </div>
    </form>
